<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.herbertgao.telegram.database.mapper.YijiMapper">
  <resultMap id="BaseResultMap" type="com.herbertgao.telegram.database.entity.Yiji">
    <!--@mbg.generated-->
    <!--@Table yiji-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="catalog" jdbcType="VARCHAR" property="catalog" />
    <result column="yi" jdbcType="VARCHAR" property="yi" />
    <result column="ji" jdbcType="VARCHAR" property="ji" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `catalog`, yi, ji
  </sql>
  <select id="selectByExample" parameterType="com.herbertgao.telegram.database.entity.YijiExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from yiji
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from yiji
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.herbertgao.telegram.database.entity.YijiExample">
    <!--@mbg.generated-->
    delete from yiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.herbertgao.telegram.database.entity.Yiji" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into yiji (`catalog`, yi, ji
      )
    values (#{catalog,jdbcType=VARCHAR}, #{yi,jdbcType=VARCHAR}, #{ji,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.herbertgao.telegram.database.entity.Yiji" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into yiji
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="catalog != null and catalog != ''">
        `catalog`,
      </if>
      <if test="yi != null and yi != ''">
        yi,
      </if>
      <if test="ji != null and ji != ''">
        ji,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="catalog != null and catalog != ''">
        #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="yi != null and yi != ''">
        #{yi,jdbcType=VARCHAR},
      </if>
      <if test="ji != null and ji != ''">
        #{ji,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.herbertgao.telegram.database.entity.YijiExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from yiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update yiji
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.catalog != null">
        `catalog` = #{record.catalog,jdbcType=VARCHAR},
      </if>
      <if test="record.yi != null">
        yi = #{record.yi,jdbcType=VARCHAR},
      </if>
      <if test="record.ji != null">
        ji = #{record.ji,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update yiji
    set id = #{record.id,jdbcType=INTEGER},
      `catalog` = #{record.catalog,jdbcType=VARCHAR},
      yi = #{record.yi,jdbcType=VARCHAR},
      ji = #{record.ji,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.herbertgao.telegram.database.entity.Yiji">
    <!--@mbg.generated-->
    update yiji
    <set>
      <if test="catalog != null and catalog != ''">
        `catalog` = #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="yi != null and yi != ''">
        yi = #{yi,jdbcType=VARCHAR},
      </if>
      <if test="ji != null and ji != ''">
        ji = #{ji,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.herbertgao.telegram.database.entity.Yiji">
    <!--@mbg.generated-->
    update yiji
    set `catalog` = #{catalog,jdbcType=VARCHAR},
      yi = #{yi,jdbcType=VARCHAR},
      ji = #{ji,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into yiji
    (`catalog`, yi, ji)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.catalog,jdbcType=VARCHAR}, #{item.yi,jdbcType=VARCHAR}, #{item.ji,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
</mapper>